h1 {
 background-color: #252220; 
 font-family: Georgia, serif;
 font-size: 2rem;
 font-weight: bold;
 text-align: center;
 margin: 1.5rem 0;
 padding: 1rem;
}
h1 a {
 color: white;
 text-decoration: none;
}
nav {
  text-align: center;
  margin: 1rem 0;
}
nav a {
  background-color: #252220; /* mocha mouse */
  color: white;
  font-weight: bold;
  padding: 0.6rem 1.2rem;
  margin: 0 0.5rem;
  display: inline-block;
  border-radius: 0.3rem;
}
h2 a {
    color:black;
    font-weight:lighter;
    text-decoration: none;
    font-family: serif;
    font-size: 3rem; 
 }
img { 
    width: 100%;
    max-width: 100%;
    height: 400px;
    margin: 2rem;
    display: block;
    padding: 1rem;
}
h3 { 
    color:white;
    background-color: black;
    padding: 0.5rem 1rem;
    margin: 1.5rem 0;
    display: inline-block;

}